body {
	background-image: url("../images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}

#screen {
	display: block;
	justify-content: center;
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

#head-bar {
	width: 300px;
	height: 30px;
	background-color: #5e86a8;
}

#back-button {
	background-color: #e6eaf2;
	border: none;
	border-radius: 5px;
	max-width: 45px;
	height: 24px;
	margin: 3px 0px 0px 3px;
}

#back-button:hover {
	cursor: pointer;
}

#body {
	width: 300px;
	height: 500px;
}

#shelter_name {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	padding-top: 5px;
}

#info_container {
	margin: 0px 5px;
	height: auto;
	border: 2px solid black;
	border-radius: 12px;
}

#address_container {
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 2px;
	margin-left: 2px;
	border-bottom: 1px solid grey;
}
#address_title {
	padding-top: 2px;
}

#address {
	width: 200px;
	font-size: 16px;
}

#address a {
	font-size: 14px;
}

#phone_container {
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 2px;
	margin-left: 2px;
	border-bottom: 1px solid grey;
}

#phone {
	font-size: 16px;
}

#capacity_container {
	display: flex;
	flex-direction: row;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 2px;
	margin-left: 2px;
	border-bottom: 1px solid grey;
}
#additional_info_container {
	display: flex;
	flex-direction: column;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 2px;
	margin-left: 2px;
}
#additional_info_title {
	width: 300px;
	padding-bottom: 3px;
}
#additional_info {
	width: 265px;
	font-size: 14px;
	text-align: left;
	padding-left: 15px;
	padding-bottom: 0px;
}

#directions_button {
	width: 290px;
	height: 50px;
	background-color: rgb(173, 216, 250);
	border: none;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 16px;
}

#directions_button:hover {
	cursor: pointer;
	background-color: #577fc1;
}

#notifications_title {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

#notifications_container {
	border: 2px solid black;
	border-radius: 10px;
	margin: 0px 5px 5px 5px;
}

#notifications_button {
	width: 290px;
	height: 50px;
	background-color: rgb(173, 216, 250);
	margin-left: 5px;
	border: none;
	font-weight: bold;
	font-size: 16px;
	border-radius: 10px;
}

#notifications_button:hover {
	cursor: pointer;
	background-color: #577fc1;
}

#note1 {
	border-bottom: 1px solid gray;
}

#note2 {
	border-bottom: 1px solid gray;
}

.info_title {
	width: 150px;
	margin-left: 8px;
	font-size: 16px;
}

.info {
	width: 150px;
	text-align: right;
	margin-right: 8px;
	font-size: 18px;
}

.notifications{
	margin: 0px 2px 0px 2px;
	padding: 3px 0px 3px 8px;
}