/*
	Global classes
					*/
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Avenir, sans-serif;
}


#screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(231,203,255);
	width: auto;
	height: 50px;
	margin-bottom: 15px;
	padding-left: 10px;
	margin-top: 0px;
}

.header-title {
	color: white;
	font-size: 40px;
	text-shadow: 1px 2px #000000;
	display: flex;
}

.back-button {
	/*box*/
	margin: 10px;
	margin-left: 0px;
	width: 60px;
	height: 70%;
	border: 2px solid white;
	background-color: rgb(211,211,211);
	display: flex;
	justify-content: center;
	align-items: center;
	/*arrow*/
	font-size: 25px;
	color: #551a8b;
}
.back-button:hover {
	color:rgb(193,119,255);
}

.invis {
	visibility: hidden;
	width: 290px;
}
/*
	Albums
			*/
.album-albums {
	height: 100%;
	display: flex;
	flex-direction: column;
}
.album-row-1, .album-row-2 {
	width: 100%;
	height: 220px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.album-album {
	padding: 5px;
	flex: 1;
	text-align: center;
}
.album-picture {
	width: 135px;
	height: auto;
}
.album-title {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
}
.album-artist {
	font-size: 15px;
	font-style: italic;
}

/*
	Songs
			*/
.song-head {
	height: 160px;
	padding: 10px;
}
.song-picture {
	height: 150px;
	width: auto;
	float: left;
}
.song-head-text {
	float: right;
	padding-right: 10px;
}
.song-title {
	font-weight: bold;
	font-size: 24px;
}
.song-artist {
	font-style: italic;
	font-weight: normal;
	font-size: 19px;
}
.song-year {
	font-weight: normal;
	font-size: 18px;
}
.song-list {
	float: none;
	margin-top: 0px;
	padding-right: 15px;
	padding-left: 30px;
}
li {
	border: 1px solid gray;
	padding: 1px;
	margin-bottom: 5px;
	font-family: serif;
}

/*Some fun stuff :D, unnecessary but still good to have */
a:link {
	text-decoration: none;
}
li a:hover {
	color: rgb(193,119,255);
	text-decoration: underline;
}

/*
	Player
			*/
.player-head-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(231,203,255);
	width: auto;
	height: 50px;
	margin-bottom: 15px;
	padding-left: 10px;
	margin-top: -35px;
}
.player-body {
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.player-album-art {
	height: 235px;
	width: 235px;
	margin-top: 10px;
	float: none;
	text-align: center;
}

.player-song-info {
	margin-top: 10px;
	color: purple;
}

#player-song-name {
	margin-top: 10px;
	font-size: 20px;
}

.player-slider {
	width: 100%;
}
.player-range {
	width: 250px;
}
#start-time {
	float: left;
}
#end-time {
	float: right;
}
.navigate {
	height: 30px;
	width: 40px;
}
.player-volume {
	margin-top: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.player-volume div{
	height: 6px;
	width: 24px;
	border: solid 1px black;
	margin-left: 7px;
}

.player-volume-control {
	width: 100%;
}
.player-volume-control button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 100px;
	background-color: white;
	border: solid 1px silver;
	border-radius: 5px;
}
#player-voldown {
	float: left;
}
#player-volup {
	float: right;
}
