/* #screen2{
	display: flex;
	flex-direction: column;
}
*/

#head_bar {
	width: 300px;
	height: 30px;
	background-color: #5e86a8;
}
.backbutton {
	background-color: #e6eaf2;
	border: none;
	border-radius: 5px;
	max-width: 45px;
	height: 24px;
	margin: 3px 0px 0px 3px;
}

.backbutton:hover {
	cursor: pointer;
}

#login {
	font-size: 20px;
	font-weight: bold;
	max-width: 235px;
	margin: auto;
}

#text-input-e{
	margin: 5px 0px 10px 0px;
}

#text-input-p{
	margin: 5px 0px 10px 0px;
}

#title {
	padding: 0px 0px 20px 0px;
	font-size: 24px;
}

#incorrect_pw{
	color: red;
	font-size: 14px;
	max-width: 235px;
	margin: auto;
	visibility: hidden;
}


.submitlogin {
	margin: 15px 0px 10px 0px;
	float:right;
	width: 40px;

	background-color: #5e86a8;
	border: none;
	border-radius: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.submitlogin:hover {
	cursor: pointer;
}
