#head_bar {
	width: 300px;
	height: 30px;
	background-color: rgb(144, 169, 178);

}

.button {
	background-color: #dae2ef;
	border: none;
	max-width: 45px;
	height: 24px;
	margin: 3px 0px 0px 3px;
}

.button:hover {
	cursor: pointer;
}

#login {
	font-size: 20px;
	font-weight: bold;
	max-width: 235px;
	margin: auto;
}

#text-input-e{
	margin: 5px 0px 10px 0px;
}

#text-input-p{
	margin: 5px 0px 10px 0px;
}

#title {
	padding: 0px 0px 20px 0px;
	font-size: 24px;
}

#incorrect_pw{
	color: red;
	font-size: 14px;
	max-width: 235px;
	margin: auto;
	visibility: hidden;
}


#button {
	float:right;
}