#login {
	font-size: 20px;
	font-weight: bold;
	max-width: 235px;
	margin: auto;
}

#text-input{
	margin: 5px 0px 10px 0px;
}

#title {
	padding: 0px 0px 20px 0px;
	font-size: 24px;
}

#incorrect_pw{
	color: red;
	font-size: 14px;
	max-width: 235px;
	margin: auto;
	visibility: hidden;
}


#button {
	float:right;
}