

.button {
	background-color: rgb(33, 156, 204);
	border: none;
}

.button:hover {
	cursor: pointer;
}

textarea{
	resize: none;
}

#contents{
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    margin-bottom: auto;
}

#top_text{
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

#update_button{
	width: 220px;
	height: 80px;
	font-size: 16px;
}

#update_link{
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}

#update_info {
	width: 280px;
	height: 150px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5px
}

#submit_button {
	margin-left: 10px;
	margin-top: 5px; 
	height: 30px;
	width: 150px;
}

#head_bar {
	width: 300px;
	height: 30px;
	background-color: rgb(144, 169, 178);

}

.update_form {
	margin-left: 10px;
}








