.player-head-bar {
	background-color: white;
	width: 290px;
	height: 30px;
	display: flex;
	padding: 10px 0px 5px 0px;
	margin: 0px 0px 15px 1px;
}

.back-button {	
	color: black;
	background-color: rgb(173, 216, 250);
	display: inline-block;
	padding: 4px;
	width: 35px;
	text-align: center;
	border-radius: 5px;
	margin: 0px 25px 0px 15px;
	
}

.headtitle{
	display: inline-block;
	font-weight: bold;
	font-size: 26px;
}

.newsearch-button {
	float: right;
	background-color: rgb(173, 216, 250);
	color: black;
	display: inline-block;
	padding: 4px;
	width: 35px;
	text-align: center;
	border-radius: 5px;
	margin: 0px 15px 0px 25px;
}

#map {
	margin: 0px 0px 0px 9px;
	border: solid 0px white;
}

.search-box {
	width: 260px;
	display: flex;
	flex-direction: column;
	border: 2px solid #a1bad1;
	border-radius: 10px;
	margin: 15px 0px 0px 17px;
	background-color: white;
}

.title {
	padding-top: 10px;
	padding-left: 10px;
	text-align: center;
}

/*table*/

#walktable{
	font-size: 14px;
	font-weight: bold;
	width: 90%;
	border-collapse: collapse;
	border-top: 1px solid black;
	margin: 15px 0px 10px 15px;
}

#cartable{
	font-size: 14px;
	font-weight: bold;
	width: 90%;
	border-collapse: collapse;
	border-top: 1px solid black;
	margin: 15px 0px 10px 15px;
	display: none;
}

#cartable .sub {
	font-weight: bold;
	font-size: 10px;
}

#transittable{
	font-size: 14px;
	font-weight: bold;
	width: 90%;
	border-collapse: collapse;
	border-top: 1px solid black;
	margin: 15px 0px 10px 13px;
	display: none;
}

#transittable .sub {
	font-weight: bold;
	font-size: 10px;
}

td {
	border-bottom: 1px solid black;
	padding: 2px 0px 2px 8px;
	background-color: rgb(173, 216, 250);
}

.detail {
	font-weight: bold;
	font-size: 14px;
	padding: 5px;
	background-color: #cae3f7;
	border-bottom: solid 2px #7d90a0;
}

#directiontable .right {
	text-align: right;
	padding-right: 10px;
}
/*table end*/

.directionoptions {
	padding: 0px 10px 10px 3px;
	margin-left: 45px;
}

.button {
	background-color: #5e86a8;
    border: 2px solid #acc8e0;
    color: white;
    padding: 4px;
    border-radius: 5px;
    margin-right: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    float: left;
}

.on {
	background-color: #21486b;
}